.button {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 1px solid #00205b;
    border-radius: 6px;
    margin: 16px 0px 16px 0px;
}
.button:hover {
    border: 1px solid #2777b8;
    color: #2777b8;
}
.button-inline {
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 1px solid #00205b;
    border-radius: 6px;
    margin: 16px 0px 16px 0px;
    height: fit-content;
}
.button-inline:hover {
    border: 1px solid #2777b8;
    color: #2777b8;
}