<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>CharaTwitch</title>
  </head>
  <body class="bg-dark">
    <div id="alert_initialization" class="alert alert-warning" role="alert">
      Initializing required dependencies...
    </div>
    <div id="wrapper" class="container mt-3 hidden">
      <div class="column mb-2" style="display: flex; flex-direction: row">
        <div style="width: 50%">
          <div class="jumbotron text-primary">
            <h1 class="display-4">Twitch config</h1>
          </div>

          <div class="mb-2">
            <label for="twitch_client_secret" class="form-label text-primary"
              >Client secret</label
            >
            <div class="input-group">
              <input
                id="twitch_client_secret"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for="twitch_client_id" class="form-label text-primary"
              >Client id</label
            >
            <div class="input-group">
              <input
                id="twitch_client_id"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>

          <div class="mb-2">
            <label for="twitch_trigger_word" class="form-label text-primary"
              >Trigger word</label
            >
            <div class="input-group">
              <input
                id="twitch_trigger_word"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label text-primary" for="twitch_reward">
              Reward
            </label>
            <select
              id="twitch_reward"
              class="form-select form-select-m mb-3"
            ></select>
          </div>

          <div class="mb-2">
            <div class="input-group">
              <input
                class="form-check"
                type="checkbox"
                id="twitch_listen_trigger_word"
                checked
              />
              <label
                class="form-check-label text-primary ms-2"
                for="twitch_listen_trigger_word"
              >
                Listen to trigger word
              </label>
            </div>
          </div>

          <div class="mb-2">
            <div class="input-group">
              <input
                class="form-check"
                type="checkbox"
                id="twitch_enable_reward"
                checked
              />
              <label
                class="form-check-label text-primary ms-2"
                for="twitch_enable_reward"
              >
                Enable reward
              </label>
            </div>
          </div>

          <div
            id="twitch_connect_btn_spinner"
            class="hidden spinner-border text-primary"
            role="status"
          ></div>
          <button id="twitch_connect_btn" class="btn btn-warning mb-2">
            Connect Twitch
          </button>

          <div
            id="twitch_authenticated_alert"
            class="alert alert-success hidden"
            role="alert"
          >
            Twitch is successfully authenticated
          </div>

          <div class="jumbotron text-primary">
            <h1 class="display-4">Character AI</h1>
          </div>
          <div class="mb-2">
            <label for="cai_access_token" class="form-label text-primary"
              >Access token</label
            >
            <div class="input-group">
              <input
                id="cai_access_token"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>
          <div class="mb-2">
            <label for="cai_character_id" class="form-label text-primary"
              >Character ID</label
            >
            <div class="input-group">
              <input
                id="cai_character_id"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3 basic-addon4"
              />
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label text-primary" for="cai_voice">
              Voice
            </label>
            <select
              id="cai_voice"
              class="form-select form-select-m mb-3"
            ></select>
          </div>

          <div class="mb-2">
            <div class="input-group">
              <input class="form-check" type="checkbox" id="cai_use_plus" />
              <label
                class="form-check-label text-primary ms-2"
                for="cai_use_plus"
              >
                Use plus
              </label>
            </div>
          </div>

          <div
            id="cai_connect_btn_spinner"
            class="hidden spinner-border text-primary"
            role="status"
          ></div>
          <button id="cai_ai_connect" class="btn btn-warning">
            Connect Character.AI
          </button>

          <div
            id="cai_authenticated_alert_danger"
            class="alert alert-danger hidden"
            role="alert"
          >
            Could not authenticate, check access token!
          </div>

          <div
            id="cai_authenticated_alert"
            class="alert alert-success hidden"
            role="alert"
          >
            Character AI is successfully authenticated
          </div>
        </div>

        <div
          style="margin-left: 1rem; margin-right: 1rem"
          class="vr bg-light"
        ></div>

        <div style="width: 50%">
          <div class="jumbotron text-primary">
            <h1 class="display-4">Twitch chat</h1>
          </div>
          <div
            id="twitch_chat_box"
            style="overflow-y: auto"
            class="text-primary"
          ></div>
        </div>
      </div>
      <div class="column text-center">
        <div class="jumbotron text-primary">
          <h1 class="display-4">Character</h1>
        </div>
      </div>
      <div
        style="overflow-y: auto"
        id="cai_chat_box"
        class="text-primary"
      ></div>
    </div>
    <script src="../app/startup.js"></script>
    <script src="../app/views/caiView.js"></script>
    <script src="../app/views/twitchView.js"></script>
    <script src="../app/index.js"></script>
  </body>
</html>
